
.purchasesList {
    list-style-type: none;
    padding: 3px;
  
    li {
      background-color: var(--c-ivory);
      padding: 10px;
      border: 1px solid var(--c-sienna);
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
  