/* .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  justify-content: space-evenly;
  min-height: 100dvh;
  padding: 120px 22px;
  background-color: var(--c-white);
} */
