.audioPlayer {
  padding: 18px;
  border-radius: 24px;
  background-color: var(--c-sienna);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audioPlayer .controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.audioPlayer button {
  background-color: transparent;
  color: #fef9f2;
  border: none;
  cursor: pointer;
}

.figcaption {
  font-size: 16px;
  color: var(--c-gray-stone);
  margin-top: 10px;
}

.playerIcons {
  width: 24px;
  aspect-ratio: 1;
}

@keyframes soundWave {
  0% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(0.5);
  }
}

.wave {
  width: 1px;
  height: 50%;
  background-color: var(--c-white);
  animation: soundWave 1s infinite;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}
