.listEl {
  width: calc((100% - 20px) / 5);
  text-align: center;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));

    transform: scale(0.97);
  }

  .iconTest {
    margin: auto;
    width: 35px;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
  }

  p {
    margin-top: 8px;
    color: var(--c-ivory);
    font-size: 0.6rem;
    letter-spacing: 0.8px;
  }
}

@media screen and (min-width: 768px) {
  .listEl {
    .iconTest {
      width: 45px;
    }

    p {
      font-size: 1rem;
    }
  }
}
