.carousel_container {
  position: relative;
  box-shadow: 0 10px 12px -5px var(--c-gray-stone);

  .carousel {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;

    .image {
      flex: 0 0 100%;
      scroll-snap-align: start;
    }

    .btn_container {
      display: flex;
      gap: 30px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -140%);
      z-index: 10;

      .btn {
        width: 16px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: var(--c-ivory-o7);
        cursor: pointer;

        &:focus {
          background-color: var(--c-ivory);
        }
      }
    }
  }
}
