@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-sienna: #8a2d0e;
  --c-olive: #899e63;
  --c-ivory: #f5efe6;
  --c-white: #fef9f2;
  --c-gray-stone: #66635b;
  --c-gray-light: #d8dada;
  --c-brown-dark: #514f48;
}
