@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-error: #6e160a;
  --c-info: #9e9024;

  --c-sienna: #8a2d0e;
  --c-olive: #899e63;
  --c-ivory: #f5efe6;
  --c-white: #fef9f2;
  --c-gray-stone: #66635b;
  --c-gray-light: #d8dada;
  --c-brown-dark: #514f48;

  --c-ivory-o7: rgba(245, 239, 230, 0.7);
  --c-gray-stone-o5: rgba(102, 99, 91, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  color: var(--c-brown-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 6px;
  color: var(--c-sienna);
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  /* justify-content: space-evenly; */
  min-height: 100dvh;
  padding: 120px 22px;
  background-color: var(--c-white);
}

/* map styles overwritten */
.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper .leaflet-popup-tip {
  background: var(--c-white) !important;
}

.leaflet-popup-close-button {
  font-size: 20px !important;
  right: 2px !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
