.main {
  /* display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  justify-content: space-evenly;
  min-height: 100dvh;
  padding: 120px 22px;
  background-color: var(--c-white); */

  h1 {
    text-align: start;
  }
}

.txt_container {
  padding: 20px 0;
}

.cit,
.cit_label {
  font-style: italic;
}

.cit_label {
  text-align: end;
  color: var(--c-sienna);
}

//Error page style
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 200px;

  h2,
  p {
    color: var(--c-sienna);
    font-weight: 800;
    font-size: 20px;
  }

  button {
    background-color: var(--c-sienna);
    padding: 8px 16px;
    color: var(--c-white);
  }
}
