.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* justify-content: space-evenly; */
  min-height: 100dvh;
  padding: 22px;
  background-color: var(--c-white);
}
