.loaderContainer {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;

  h4 {
    text-align: center;
  }

  Image {
    width: 60%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 834px) {
  .loaderContainer {
    padding-top: 80px;
  }
}
