.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--c-sienna);

  ul {
    display: flex;
    justify-content: center;
  }

  .lineEl {
    border: 1px solid var(--c-ivory);
    width: 0px;
    height: 30px;
    background-color: var(--c-ivory);
  }
}
