.toast {
  position: fixed;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 0 5px 20px -5px var(--c-gray-stone);
  padding: 4px;
  max-width: 400px;
  width: calc(100% - 40px);
  background-color: var(--c-olive);

  .toast_inset {
    position: relative;
    border: 6px double var(--c-ivory);
    border-radius: 4px;
    padding: 5px;
    padding-right: 25px;

    .flipflop_container {
      position: relative;
      margin: 5px;
      width: 100%;
      height: 5px;

      .flipflop {
        position: absolute;
        top: 0;
        width: 0%;
        height: 3px;
        border-radius: 5px;
        animation: fill 1.5s infinite ease-in-out alternate-reverse;
        background-color: var(--c-ivory);
        z-index: 3;
      }
    }

    .message_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;

      .toast__message {
        text-align: end;
        font-size: 0.8rem;
        font-style: italic;
        color: var(--c-ivory);
      }
    }

    .loader {
      position: relative;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: inset 0 0 5px var(--c-gray-stone);
      width: 100%;
      height: 15px;

      .loader_fill {
        position: absolute;
        top: 0;
        height: 100%;
        border-radius: 5px;
        background-color: var(--c-ivory);
        animation: loader 3s both linear 1;
      }
    }
  }

  .type_img,
  .close {
    position: absolute;
  }

  .close {
    top: 0;
    right: 5px;
    cursor: pointer;
    color: var(--c-ivory);
  }

  .type_img {
    right: 2px;
    bottom: 2px;
  }
}

.top_right {
  top: 120px;
  right: 20px;
}

.top_left {
  top: 120px;
  left: 20px;
}

.bottom_right {
  bottom: 120px;
  right: 20px;
}

.bottom_left {
  bottom: 120px;
  left: 20px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default {
  background-color: var(--c-sienna);
}

.success {
  background-color: var(--c-olive);
}

.error {
  background-color: var(--c-sienna);
}

.info {
  background-color: var(--c-info);
}
@keyframes fill {
  0% {
    width: 10%;
  }
  50% {
    width: 100%;
  }
  100% {
    right: 0;
    width: 10%;
  }
}

@keyframes loader {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
