.main {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--c-white);
  overflow: scroll;
  padding-bottom: 80px;
  max-height: calc(100vh - 150px);

  h1 {
    text-align: center;
    padding-block: 10px;
  }

  img {
    padding-block: 20px;
  }

  .textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    gap: 20px;
    text-wrap: pretty;

    h3 {
      font-weight: 500;
      letter-spacing: 3px;
      color: var(--c-sienna);
    }
  }
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;

  li {
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    color: var(--c-white);
    background-color: var(--c-sienna);
    .link {
      border-radius: 5px;
      border-bottom: 4px double var(--c-white);
      padding-bottom: 5px;
    }
  }
}

@media (min-width: 768px) {
  .main h1 {
    font-size: 3.5rem;
  }

  .textBox p {
    font-size: 1rem;
  }
}
