.main {
  position: relative;
  top: 100px;
  width: 100%;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 120px;

  h1 {
    text-align: center;
    padding-block: 10px;
  }
}

.playerBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  h2 {
    font-weight: 600;
    letter-spacing: 1.8px;
  }
}

@media (min-width: 768px) and (max-width: 834px) {
  .main {
    align-items: center;
    justify-content: space-evenly;
    top: 80px;

    .playerBox {
      width: 80%;
      justify-content: center;

      p {
        text-wrap: pretty;
      }
    }
  }
}
