.main {
  padding: 20px;
  text-align: center;
}

.imageContainer {
  margin: 20px 0;
}

.img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}

.detailsSection {
  margin-top: 20px;
  padding: 10px;
}
