.container {
  position: relative;
  background-image: url("/assets/bg_acquista.webp");
  background-size: cover;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 178px);

  .title {
    margin-block: 20px;
    position: absolute;
    top: 0;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--c-ivory-o7);
    h1 {
      border-radius: 5px;
      border: 5px double var(--c-sienna);
      padding: 5px 15px;
    }
  }
}
.mainButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  gap: 26px;
}

@media (min-width: 768px) {
  .container {
    height: calc(100vh - 225px);
  }

  .mainButtons {
    width: 50%;
  }
}
