.main {
  position: relative;
  top: 100px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  h1 {
    text-align: center;
    padding-block: 10px;
  }
}

.playerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-inline: 20px;
  gap: 8px;

  h2 {
    font-weight: 600;
    letter-spacing: 1.8px;
  }

  p {
    margin: 0 auto;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    align-items: center;
    justify-content: space-evenly;

    .playerBox {
      width: 100%;
      align-items: center;

      p {
        padding-inline: 100px;
        text-wrap: pretty;
      }
    }
  }
}
